* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  background-color: #f2f2f2;
}
header {
  position:fixed;
  z-index: 1;
  top: 0px;
  margin: auto;
  height: 50px;
  color:  #e94498;
  background-image: url("https://raw.githubusercontent.com/Tubidaor/portfolio-site/phase2/Herov3.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 68%;
  font-family: 'Dosis', sans-serif;
}

main {
  margin-top: 50px;
}

.my-name {
  font-size: 32px;
  font-weight: bolder;
  position: absolute;
  top: 20px;
  left: 10px;
}

div h1 {
  margin-left: auto;
  margin-right: auto;
}
h1 span {
  position: relative;
  top: 12px;
}

h1 {
  color: #f2ea9f;
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  border-radius: 8px;
  background: radial-gradient(circle, #03689c, #000000);
  height: 50px;
  width: 200px;
  font-family: 'Hepta Slab', serif;
}

.hero-image { 
  background-image: url("https://raw.githubusercontent.com/Tubidaor/portfolio-site/master/Juan2.png");
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position-x: -200px;
  height: 500px;
}

.menu {
  display: none;
}

div.intro {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  margin-right: 30px;
}

p.intro {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding-left: 150px;
  padding-right: 10px;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  
}

.intro-elaborate {
  display: none;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
.transition-arrow {
  background-color: #000;
  height: 40px;
  width: 100%;
}

.transition-arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #03689c;
  border-right: 5px solid #03689c;
  transform: rotate(45deg);
  animation: animate 2s infinite;
  margin-left: calc(50% - 7.5px);
}

.transition-arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.transition-array span:nth-child(3){
  animation-delay: -.02s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

.projects {
  background-color: #000;
  text-align: center;
  height: 30px;
  font-family: 'Hepta Slab', serif;
}

.projects span {
  font-size: 32px;
  position: relative;
  top: -25px;
  color: #e94498;
}

.project-1 {
  background-color: #f2f2f2;
}

.button-div {
  position: absolute;
  top: 460px;
  left: 0px;
  right: 0px;
}

.button {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: #03689c;
  background: radial-gradient(circle, #03689c, #000000);
  color: #f2ea9f;
  height: 30px;
  width: 100px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.project p {
  padding: 6px;
  line-height: 24px;
  font-size: 16px;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}

section img {
  display: block;
  height: 220px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#hamburger {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ea4498;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.menu li a {
  color: #f2ea9f;
  text-decoration: none;
}

.menu li a:hover {
  font-weight: bold;
}

.menu li {
  list-style: none;
  padding: 16px 0;
} 

.menu {
  text-align: right;
  padding-right: 10px;
  margin: 60px 20px;
  transition: 0.3s ease;
  display: none;
}

.menu-bg, #hamburger {
  top: -5px;
  right: 15px;
  position: absolute;
}

.menu-bg {
  z-index: -1;
  width: 0;
  height: 0;
  margin: 0 0 20px 20px;
  background: radial-gradient(circle, #03689c, #000000);
  border-radius: 15%;
  transition: 0.3s ease;
}

#nav-bar {
  z-index: 2;
}

.change-bg {
  width: 110px;
  height: 260px;
  -webkit-transform: translate(14%, 4%);
  transform: translate(14%, 4%);
}

.change .bar {
  background-color: #f2ea9f;
}

.change #bar1 {
  transform: translatey(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

@media (min-width: 415px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    height: 50px;
    margin-top: 15px;
    margin-right: 0px;
    font-size: 20px;
  } 

  .button {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin: 6px;
  }

  li {
    margin-right: 6px;
  }

  .intro-elaborate {
    display: block;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    margin-right: 30px;
  }

  .elaborate {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding-left: 150px;
    padding-right: 10px;
  }

    .button-div {
    text-align: center;
  } 
}