* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
header {
  position:fixed;
  z-index: 1;
  top: 0px;
  margin: auto;
  height: 50px;
  color: #9ecedf;
  background-image: url("https://raw.githubusercontent.com/Tubidaor/portfolio-site/phase2/Herov3.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 68%;
}
main {
  margin-top: 50px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: flex-end;
}
.my-name {
  font-size: 32px;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}
.hero-image {
  background-image: 
    linear-gradient(
      to right,rgba(13, 76, 156, .4),
    rgba(255, 255, 255, 0.4)
  ),
  url("https://raw.githubusercontent.com/Tubidaor/portfolio-site/master/juanNoBackground.jpg");
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position-x: -200px;
  height: 500px;
}
.hamburger {
  text-align: right;
  position: relative;
  font-size: 32px;
}
.menu {
  display: none;
  color:#0878CE;
}

.li {
  margin: 2px;
  list-style-type: none;
}

div.intro {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  margin-right: 30px;
}

p.intro {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding-left: 150px;
  padding-right: 10px;
  
}

.intro-elaborate {
  background-color: #bbb;
  display: none;
}
.transition-arrow {
  background-color: #000;
  height: 40px;
  width: 100%;
}
.transition-arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #06a8ff;
  border-right: 5px solid #06a8ff;
  transform: rotate(45deg);
  animation: animate 2s infinite;
  margin-left: calc(50% - 7.5px);
}
.transition-arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.transition-array span:nth-child(3){
  animation-delay: -.02s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
.projects {
  background-color: #000;
  text-align: center;
  height: 30px;
}
.projects span {
  font-size: 32px;
  position: relative;
  top: -40px;
  color: white;
}
.project-1 {
  background-color: #bbb;
}
.button-div {
  position: absolute;
  bottom: 140px;
  left: 0px;
  right: 0px;
}
.button {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: #848CA3;
  color: #FF7800;
  height: 25px;
  font-size: 16px;
  border-radius: 8px;
}

.project p {
  padding: 6px;
  line-height: 24px;
  font-size: 16px;
  color: black;
}

@media (min-width: 414px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    height: 50px;
  }
  .button {
    display: inline;
  }
}
