* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f2f2f2;
}
header {
  position:fixed;
  z-index: 1;
  top: 0px;
  margin: auto;
  height: 50px;
  color:  #e94498;
  background-image: url("https://raw.githubusercontent.com/Tubidaor/portfolio-site/phase2/Herov3.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 600%;
  background-position-y: 68%;
  font-family: 'Dosis', sans-serif;
}

main {
  margin-top: 40px;
}
.maindiv {
  height: 100vh;
}
.container img {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: auto;
  display: block;
  margin-bottom: -6px;
}

.intro {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #f2f2f2;
}
.my-name {
  font-size: 32px;
  font-weight: bolder;
  position: absolute;
  top: 16px;
  left: 10px;
}

.about-me-div h1 {
  margin-top: 80px;
}

.about-me-div {
  margin: 10px;
}
h1 {
  color: #f2ea9f;
  text-align: center;
  font-size: 32px;
  margin-top: 60px;
  border-radius: 8px;
  background: radial-gradient(circle, #03689c, #000000);
  height: 50px;
  width: 244px;
  font-family: 'Hepta Slab', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  margin-left: auto;
  margin-right: auto;

}

h2 {
  font-size: 22px;
  color: #f2ea9f;
  text-align: center;
  margin-top: 46px;
  border-radius: 8px;
  background: radial-gradient(circle, #03689c, #000000);
  height: 50px;
  width: 244px;
  font-family: 'Hepta Slab', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: none;
}

p.intro {
  color: #001628;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 6px;
  border: 4px solid #001628;
}
.intro-elaborate {
  display: none;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  bottom: 0px;
  height: 50px;
}
.transition-arrow {
  background-color: #000;
  height: 40px;
  width: 100%;
}
.transition-arrow p {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #e94498;
}
.transition-arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #03689c;
  border-right: 5px solid #03689c;
  transform: rotate(45deg);
  animation: animate 2s infinite;
  margin-left: calc(50% - 7.5px);
}

.transition-arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.transition-array span:nth-child(3){
  animation-delay: -.02s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-100px,-100px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(-40px,-40px);
  }
}

.projects {
  text-align: center;
  font-family: 'Hepta Slab', serif;
  margin-top: 20px;
}

.project-1 {
  background-color: #f2f2f2;
}

.button {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: #03689c;
  background: radial-gradient(circle, #03689c, #000000);
  color: #f2ea9f;
  height: 30px;
  width: 100px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.project p {
  margin: 10px;
  padding: 6px;
  line-height: 24px;
  font-size: 16px;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}

section {
  margin-bottom: 30px;
  height: 100vh;
}

section img {
  display: block;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#hamburger {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ea4498;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.menu li a {
  color: #f2ea9f;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  color: #ea4498;
}

.menu li {
  margin-top: 12px;
  margin-right: 8px;
}



.menu {
  text-align: left;
  padding-right: 10px;
  position: absolute;
  top: 75px;
  right: 0px;
  transition: 0.3s ease;
  display: none;
}

.menu-bg, #hamburger {
  top: -5px;
  right: 15px;
  position: absolute;
}

.menu-bg {
  z-index: -1;
  width: 0;
  height: 0;
  margin: 0 0 20px 20px;
  background: radial-gradient(circle, #03689c, #000000);
  border-radius: 15%;
  transition: 0.3s ease;
}

#nav-bar {
  z-index: 2;
}

.change-bg {
  width: 110px;
  height: 260px;
  -webkit-transform: translate(14%, 4%);
  transform: translate(14%, 4%);
}

.change .bar {
  background-color: #f2ea9f;
}

.change #bar1 {
  transform: translatey(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

.para-div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.para-div p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  
}

.BB-pic {
  background-image: url("https://raw.githubusercontent.com/Tubidaor/portfolio-site/master/IMG_6192.JPG");
  background-size: 250px;
  height: 227px;
  width: 257px;
  border: 2px solid #03689c;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact-list {
  margin: 22px;
  
}

.contact-list a {
  color: #ea4498;
  text-decoration: none;
  font-weight: bold;
  
}
  
.contact-list a:hover {
    color: #03689c;
}

ul.contact {
  border: 4px solid #03689c;
  border-radius: 8px;
  margin-top: 50px;
}

